.navigation {
  display: flex;
  @include media-tablet {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
    margin-top: 120px;
}
@include media-mobile {
    padding: 0;
    
}
  
}
.navigation__link {
  @extend %font-prim;
  @include font($size: 16px, $height: 24px, $weight: 400);
  list-style: none;
  padding: 0 15px;
  color: $color-primary;
  @extend %transition;
  cursor: pointer;

  @extend %transition;
  &:hover {
      color: $color-hover;
  }
  &:active {
    border-bottom: 1px solid #fff;
    color: $color-light;
  }
  @include media-tablet {
    
    margin-bottom: 40px;
    text-align: left;
    margin-left: 50px;
  }
   
}
.header__navigation {
  @include media-tablet {
      position: fixed;
      top: 0;
      right: 0;
      width: 250px; 
      background: #000;
      margin-top: 78px;
      padding: 36px 0;
      transition: all 0.3s ease 0s;
      transform: translate(-200%, 0);
      z-index: 1;
      body {
        background: rgba(0, 0, 0, 0.4);
      }
      
  }  
  @include media-mobile {
      display: block;
      width:250px;
      margin-top: 58px;
      text-align: center;
      
  }    
  
}
.header__navigation._active {
  @include media-tablet {
      transform: translate(0, 0);
  }
 
  
}

.navigation > li {
  position: relative;
}
.navigation .navigation__submenu {
  display: none;
  column-gap: 200px;
  column-count: 2;
  position: absolute;
  top: 75px;
  width: 1440px;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  background: $color-background;
 

}

.submenu-link {
  display: flex;
  margin-bottom: 30px;
}
.navigation > li:hover .navigation__submenu {
  display: block;
  
}    
  

