.burger {
    display: none;
    width: 36px;
    height: 24px;
    cursor: pointer;
    // right: 2rem;
    // top: 2rem;
    position: relative;
    z-index: 20;
    @include media-mobile {
        left: 308px;
        display: inline-block;
    }
}

.burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after
 {
    content: "";
    width: 100%;
    background-color: #fff;
    display: block;
    transition: all 0.5s ease-in-out;
    height: 3px;
}

.burger span::before {
    transform: translateY(-10px);
   
   
}

.burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
}


.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}
