.ico {
    cursor: pointer;
    display: inline-block;
}
.ico-vk {
    background-image: url("../../img/icon/vk.svg");
    width: 28px;
    height: 28px;
}
.ico-fb {
    background-image: url("../../img/icon/Fb.svg");
    width: 29px;
    height: 28px;
}
.ico-tiktoc {
    background-image: url("../../img/icon/tiktok.svg");
    width: 29px;
    height: 28px;
}
.ico-yt {
    background-image: url("../../img/icon/youtube.svg");
    width: 29px;
    height: 25px;
}